{% extends "AppEntrega1/padre.html" %}

{% load static %}


{% block titulo_pagina %}


Mensajes

{% endblock %}



{% block titulo %}

<h1 class="mb-5">MENSAJES</h1>

{% endblock %}



{% block que_cambia %}

{% for mensajes_recibidos in mensajes %}

<li>{{ mensajes_recibidos }}</li>
<button>
    <a href="{% url 'leerMensajes' %}">Mensajes recibidos</a>
</button>
<button>
    <a href="{% url 'crearMensajes' %}">Mensajes recibidos</a>
</button>



{% endfor %}


    <br>

    <a href="{% url 'ver mensajes' %}">Ver mensajes</a>

{% endblock %}